*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.container {
    background-color: blue;
    min-height: 0vh;
  }
.content {
    max-width: 900px;
    margin: 0 auto;
  }
.top_section{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 30px;
    padding-top: 30px;
  }
.image_container {
    border-radius: 100%;
    overflow:hidden;
  }
.image_container,
  img {
    width: 100%;
    height: 20vh; 
  }
  h3{
    text-decoration-line: underline;
    margin-bottom: 14px;
    margin-top: 4px;
  }
  .contact{
    background-color: black;
    color: antiquewhite;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
.main{
  padding-left: 70pxIYSA;
}
.workedu{
  display: flex;
  text-align: center;
  align-items: center;
}
.workcontent{
  padding-right: 30px;
  padding-left: 300px;
}
.edu{
  padding-left: 220px;
}
.workcon{
  padding-top: 25px;
  padding-left: 40px;
}
.educon{
  padding-top: 25px;
  padding-left: 150px;
}
.skillrfw{
  display: flex;
  text-align: center;
  align-items: center;
}